mixin goAppointList(data)
    each item in data
        li.project-item
            .project-item-default.project-item-left
                .project-item-img-box
                    img.project-item-img(src=item.projectLogo||'/images/demo/no-img.jpg')
            .project-item-default.project-item-center
                p.project-item-name=item.projectName
                .project-status
                    span.project-status-in(data-busystatus=item.busyStatus)
                button.project-item-more 预订须知 >>
            .project-item-default.project-item-right
                a.go-appoint-btn(href='/appoint/gameDetail/'+item.projectId)
                    span.goAppoint-text 去预约
                    img.goAppointIcon(src='/images/appoint/goAppointIcon.png')

if method === "ajax"
    +goAppointList(data)
