extends ../../layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/login.css")
block javascripts
    script(type='text/javascript', src='/javascripts/validate/jquery.validate.min.js')
    script(type='text/javascript', src='/javascripts/validate/messages_zh.min.js')
    script(type='text/javascript', src='/javascripts/validate/additional-methods.js')
    script(type='text/javascript', src='/javascripts/member/modifyNew.js')
block content
    include ../../common/footer
    .login-main.register-main
        //-form#form
            .login-list
                .input-box.text
                    input(type='password',name='loginPass', placeholder='请输入您的原密码')
                .input-box.text
                    input#newPass(type='password',name='newPass', placeholder='请输入6-20位字母、数字或符号的新密码')
                //p.form-explian 6-20位字母、数字或符号
                .input-box.text
                    input(type='password',name="enterpassword", placeholder='请重新输入新密码')
                .input-box.input-button
                    input#setNewPassword(type='button', value='确定修改')
        form#form
            input#leaguerId(type="hidden" name="leaguerId" value=leaguerId)
            .login-list
                .input-box.text
                    input(type='tel',name='loginName', placeholder='请输入手机号码' value=loginName  readonly)
                .quick-login
                    .input-box.code.clearfix
                        input.fr#getCodeBtn(type='button'  value='获取验证码' autocomplete="on" data-type='pwd'  )
                        input.input-code(type='tel'  name='checkCode'  placeholder='请输入验证码')
                .input-box.text
                    input.newPassWord(type='password' name="password" autocomplete="on"  placeholder='请输入6-20位字母、数字或符号的新密码')
                .input-box.input-button
                    input#setNewPassword(type='button', value='确定修改')
    .mask#mask
        .tips
            p
            a(href="javascript:;").queding 确定
    +footer