mixin recomentList(data)
    if data.length
        each item in data
            li.ticket-type-item(data-item=JSON.stringify(item))
                .ticket-info-name=item.name
                .ticket-type-left
                    .sale-num 售量：1000
                .ticket-type-right
                    .ticket-old-price-box
                        span.old-price-icon ￥
                        span.old-price-num=item.priceShow
                    .ticket-price-box
                        span.price-icon ￥
                        span.price-num=item.price
                    .changge-num-box
                        span.default-icon.sub-icon
                            i.icon-iconfont-jian
                        span.buy-num 0
                        span.default-icon.add-icon
                            i.icon-iconfont-jia
    else
        li.no-data 暂无推荐搭配
if method === "ajax"
    +recomentList(data)
