body{
    background-color: #fff;
}
.lable-name{
    padding: .5rem;
    font-size: .6rem;
}
.lable-value{
    padding: 0 .5rem;
}
.refund-reason{
    box-sizing: border-box;
    width: 100%;
    min-height: 5rem;
    border-radius: .3rem;
    padding: .2rem;
    outline: none;
}
.deleteImg {
    width: 31.33%;
    height: 4rem;
    margin-right: 2%;
    border-radius: .3rem;
    margin-bottom: .5rem;
    display: inline-block;
    position: relative;
}
.deleteImg img {
    width: 100%;
    height: 100%;
    border-radius: .3rem;
}
.deleteImg span {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,0.5);
    padding: 0.2rem 0;
    color: #fff;
    text-align: center;
}
/*.preview-box img{*/
    /*width: 31.33%;*/
    /*height: 4rem;*/
    /*margin-right: 2%;*/
    /*border-radius: .3rem;*/
    /*margin-bottom: .5rem;*/
/*}*/
.upload-btn{
    vertical-align: top;
    box-sizing: border-box;
    width: 31.33%;
    height: 4rem;
    border-radius: .3rem;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: .5rem;
}
.lable-btn-box{
    padding: 0 .5rem;
    margin: 30px 0;
}
.confirm-button{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 2rem;
    border: 0;
    outline: 0;
    background-color: #00a582;
    border-radius: .3rem;
    color: #fff;
    font-size: .6rem;
}
.confirm-button:disabled{
    background-color: #ccc;
}
.upload-img-tip{
    color: #999;
    font-size: .5rem;
}
.lable-item-group{
    margin: 0 .5rem;
    box-sizing: border-box;
    padding: .5rem 0;
    border-bottom:1px solid #e5e5e5;
}
.lable-item-name{
    display: inline-block;
    font-size: .6rem;
    width: 3rem;
}
.lable-item-value{
    display: inline-block;
    font-size: .6rem;
    color: #999;
    width: 8rem;
}
.num-spinner-box{
    float: right;
    font-size: .7rem;
}
.num-spinner-box .refundNums{
    width: 1.5rem;
    outline: none;
    border: 0;
    color: #ff6634;
    text-align: center;
    font-size: .6rem;
}
