extends layout

block stylesheets
block javascripts

block content
    //a.back-bar(href='javascript:window.history.back(-1);')
    .videoList
        video(src=voice controls="controls"  style="width: 100%;" autoplay="autoplay" )
            source(src=voice type="video/mp4")

           //-video( src='/gsgc.mp4' controls="controls")

