extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/order/ticket.css")
block javascripts
    script(type='text/javascript', src='/templates/order.js')
    script(type='text/javascript', src='/javascripts/order/ticket.js')
block content
    //input(name='projectNameCode' type='hidden' value=projectNameCode)
    //- 游玩日期
    .group-item
        span.group-item-label 游玩日期
        span.group-item-value.play-day
    .page-line
    if projectNameCode == 'official'
        //- 其它优惠项目推荐
        .recoment-ticket-box
            .recoment-ticket-header 推荐搭配（组合越多，越优惠）
            .recoment-ticket-discount
                span 继续选购，还可优惠
                span.discount-icon ￥
                span.discount-value 0
            ul.ticket-type-list
                // each item in [1,2]
                //     li.ticket-type-item(data-item="{}")
                //         .ticket-info-name 门船票（淡季）
                //             span.ticket-info-icon 荐
                //         .ticket-type-left
                //             .sale-num 售量：1000
                //         .ticket-type-right
                //             .ticket-old-price-box
                //                 span.old-price-icon ￥
                //                 span.old-price-num 0.002
                //             .ticket-price-box
                //                 span.price-icon ￥
                //                 span.price-num 0.002
                //             .changge-num-box
                //                 span.default-icon.sub-icon
                //                     i.icon-iconfont-jian
                //                 span.buy-num 2
                //                 span.default-icon.add-icon
                //                     i.icon-iconfont-jia
            button.show-more-btn 展示更多 >
            .recoment-ticket-bottom
                .has-discount-box
                    span.has-discount-text 已优惠：
                    span.price-color.price-icon ￥
                    span.price-color.has-discount-value 0
                .recoment-total-box
                    span.recoment-total-text 小计：
                    span.price-color.price-icon ￥
                    span.price-color.recoment-total-value 0
    //- 选择的票型
    .shop-car-list
        // each item in [1,2,3]
        //     .ticket-type-box
        //         .ticket-type-header
        //             span.ticket-name 门船票（淡季）
        //             .ticket-amount
        //                 span.ticket-amount-icon *
        //                 span.ticket-amount-value 1
        //             .ticket-price
        //                 span.ticket-price-icon ￥
        //                 span.ticket-price-value 288
        //         .person-option
        //             span.person-play-text 游玩人
        //             .person-play-often
        //                 each i in [1,2,3]
        //                     span.person-often-item 张三
        //             span.chose-play-person 选择游玩人 >
        //
        //         .person-selected
        //             each item in [1,2]
        //                 .person-selected-item
        //                     span.person-selected-name 网哈哈
        //                     span.person-selected-icard 3464698465156
        //                     span.person-selected-delete
        //                         i.icon-iconfont-shanchu
        //     .page-line

    //- 取票人
    .take-ticket-box
        .take-ticket-header
            span.take-ticket-text 取票人
            span.take-ticket-tip 用于接收出票人信息
            button.chose-play-person 选择取票人 >
        .take-person-option
            //.take-person-item
                //span.take-person-name 网哈哈
                //span.take-person-phone 1565+659+
                //p.person-selected-icard 3464698465156
            .no-data 尚未选择取票人
    .page-line
    //- 提交订单
    .order-boottom
        .order-boottom-left
            span.order-total-text 订单总额：
            span.order-total-money-icon.price-color ￥
            span.order-total-money-value 0
        .order-boottom-center
            span.has-discount-text 已优惠：
            span.price-color.price-icon ￥
            span.price-color.has-discount-value 0
        .order-boottom-right
            button.submit-btn 去支付
    #mask.mask
    //- 常用联系人操作
    .linkMan-layer#linkManLayer
        //.linkMan-handle
        //    a(href="javascript:;")#cancel="取消"
        //    a(href="javascript:;")#enter="确定"
        //.linkMan-content
        //    .linkManEditBar
        //        a(href="/member/linkMan/add").linkMan-add +添加
        //        .line
        //        a(href="/member/linkMan/list").linkMan-edit 编辑
        //    ul.linkMan-list
        //        each item in [1,2,3]
        //            li.linkMan-item
        //                .linkMan-name 测试
        //                .linkMan-center
        //                    p 手机号：15855413165
        //                    p 身份证：342221199202127450
        //                .linkMan-check
        //                    span.checkspan
        //                        i
    //- 唤起支付弹框
    .pay-box
        .pay-info
            span.pay-amount-text 支付金额
            span.pay-amount-icon ￥
            span.pay-amount-value 0
        ul.pay-list
            if is_weixn
                //li.pay-item.active(data-paytype=32)
                //    label.pay-item-label
                //        i.font-icon.icon-iconfont-weixin
                //        span.pay-name 微信支付
                //    span.pay-item-icon
                //        i.font-icon.icon-iconfont-gougou
                // 银联支付
                li.pay-item(data-paytype=41)
                    label.pay-item-label
                        i.font-icon.icon-iconfont-weixin
                        span.pay-name 微信支付
                    span.pay-item-icon
                        i.font-icon.icon-iconfont-gougou
            else
                li.pay-item.active(data-paytype=22)
                    label.pay-item-label
                        i.font-icon.icon-iconfont-zhifubao
                        span.pay-name 支付宝
                    span.pay-item-icon
                        i.font-icon.icon-iconfont-gougou
                //银联支付
                li.pay-item(data-paytype=42)
                    label.pay-item-label
                        i.font-icon.icon-iconfont-zhifubao
                        span.pay-name 支付宝(银联)
                    span.pay-item-icon
                        i.font-icon.icon-iconfont-gougou
        .btn-handle-box
            button.to-pay-btn 去支付

