extends ../layout

block stylesheets
    link(rel="stylesheet", href="/lib/swiper/swiper-3.4.2.min.css")
    link(rel="stylesheet", href="/stylesheets/appoint/myQueue.css")
block javascripts
    script(type='text/javascript', src='/lib/swiper/swiper-3.4.2.jquery.min.js')
    script(type='text/javascript', src='/javascripts/appoint/myQueue.js')
block content
    .queue-box
        ul.queue-list
            each item in data[0].data
                li.queue-item
                    .queue-name=item.projectName
                    .queue-item-group
                        span.queue-item-label 条形码：
                        span.queue-item-value=item.modelCode
                    .queue-item-group
                        span.queue-item-label 取号时间：
                        span.queue-item-value=item.checkTime
                    .queue-item-group
                        span.queue-item-label 排队号码：
                        span.queue-item-value=item.queueUpNo
                    .queue-item-group
                        span.queue-item-label 前面人数：
                        span.queue-item-value 36



