extends ../../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/order.css")
block javascripts
  script(type='text/javascript', src='/javascripts/validate/jquery.validate.min.js')
  script(type='text/javascript', src='/javascripts/validate/messages_zh.min.js')
  script(type='text/javascript', src='/javascripts/validate/additional-methods.js')
  script(type='text/javascript', src='/javascripts/member/modify.js')

block content
  form(action="")#form
    ul.order-list.myorder-list
      li
        label.lab-title="游玩人"
        .order-item
            input.order-text(type='text', name='name', placeholder='请填写姓名')
      li
        label.lab-title 手机号
        .order-item
            input.order-text(type='tel', name='phone', placeholder='请填写手机号')
      li
          label.lab-title 证件类型
          .order-item
              select.card-type(name='cardType')
                option(value='1') 身份证
                option(value='2') 护照
                option(value='3') 港澳通行证
                option(value='4') 其他
      li
          label.lab-title 证件号
          .order-item
              input.order-text.card_box(type='text', name='charNo', placeholder='请填写身份证')
              span.c-price.camera-text
                input(type="file" name="file" capture="camera" accept="image/*" onchange="imgUpload(this)").hide_file
                i.font-icon.icon-iconfont-camera(style='margin-right:.1rem')
                ="拍照识别"
    .member-handle.linkMan-btn
      a.btn.submit-btn(href='javascript:;') 保存
      a.btn(href='/member/linkMan/list') 游玩人列表
    .mask#mask
    .tips
      p
      a(href="javascript:;").queding 确定
