extends ../layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/booking/record.css")
block javascripts
    //script(type='text/javascript', src='/javascripts/booking/record.js')
block content
    include ./mixin/recordList
    .order-box
        ul.supplier-order-list
             each item in data[0].data
                 li.order-item
                     .order-info
                         label.order-info-label=item.name
                         .order-info-right
                             +auditStatus(item.auditStatus)
                     .order-info
                         label.order-info-label 预约时间：
                         span.order-info-value=item.createTime
                     .order-info
                         label.order-info-label 游玩日期：
                         span.order-info-value #{item.travelDate.substr(0,10)}
                     if item.remark
                         .order-info
                             label.order-info-label 驳回原因：
                             span.order-info-value=item.remark

