extends ../layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/supplier/lookOrder.css")
block javascripts
    script(type='text/javascript', src='/javascripts/supplier/lookOrder.js')
block content
   .search-box
       input.search-input(value='' name='keyword' placeholder='请输入您的手机号、姓名')
       button.search-btn 搜索
   .order-box
       ul.supplier-order-list
           // each item in [1,2,3,4]
           //     li.order-item
           //          .order-info
           //              label.order-info-label 订单号：
           //              span.order-info-value 123456789654
           //              .order-info-right 张三
           //          .order-info
           //              span.order-info-value 珊瑚宝宝 X 2
           //              .order-info-right 自提
           //          .order-info
           //              label.order-info-label 创建时间：
           //              span.order-info-value 2018166655655
           //              .order-info-right 待收货
           //          .order-btn-box
           //              button.defult-btn 确认发货
