extends ../layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/supplier/personCenter.css")
block javascripts
    script(type='text/javascript', src='/javascripts/supplier/personCenter.js')
block content
    button.login-out-btn 退出登录
