mixin footer()
  .hs-footer
    ul
      li
        a(href='/', class= module === 'index'? 'on': '')
          if module === 'index'
            img(src='/images/common/nav-icon1-on.png')
          else
            img(src='/images/common/nav-icon1.png')
          p 首页
      li
        a(href='/list/order', class= module === 'order'? 'on': '')
          if module === 'order'
            img(src='/images/common/nav-icon2-on.png')
          else
            img(src='/images/common/nav-icon2.png')
          p 订单
      li
        a(href='/list/strategy', class= module === 'strategy'? 'on': '')
          if module === 'strategy'
            img(src='/images/common/nav-icon3-on.png')
          else
            img(src='/images/common/nav-icon3.png')
          p 玩家手册
      //li
      //  a(href='https://wzzdlyq.qiyukf.com/client?k=9043442f1a44a1780180c5459734227c&wp=1')
      //    if module === 'client'
      //      img(src='/images/common/nav-icon4-on.png')
      //    else
      //      img(src='/images/common/nav-icon4.png')
      //    p 客服
      li
        a(href='/member', class= module === 'member' ? 'on': '')
          if module === 'member'
            img(src='/images/common/nav-icon5-on.png')
          else
            img(src='/images/common/nav-icon5.png')
          p 我的




