mixin auditStatus(auditStatus)
    case auditStatus
        when "SHDD"
            span.game-status.easy 等待审核
        when "SHCG"
            span.game-status.normal 审核成功
        when "SHSB"
            span.game-status.busy 审核失败
