doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/queueCallNum/list.css')
        script(type='text/javascript', src="/lib/jquery-1.8.3.min.js")
        script(type='text/javascript', src="/javascripts/queueCallNum/list.js")
    body
        .project-name 蜈支洲项目排队
        ul.project-list
            // each item,index in [1,2,3]
            //     li.project-item(class='col-3')
            //         .project-item-box
            //             .project-title
            //                 img.project-title-icon(src='/images/queueCallNum/col-top-icon.png')
            //                 span.project-title-name 摩托艇
            //             ul.project-person-list
            //                 each sitem in [1,2,3,4,5,6,7,1,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,88]
            //                     li.project-person-item(class='col-3')
            //                         span.project-person-num 001
            //                         span.project-person-name 周杰伦
            //             .avg-queue-time(class=index==0?'avg-queue-time2':'')
            //                 p 预计时间
            //                 p 半小时

