doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/queueCallNum/list1.css')
        script(type='text/javascript', src="/lib/jquery-1.8.3.min.js")
        script(type='text/javascript', src="/javascripts/queueCallNum/list1.js")
    body
        .project-name
            img.project-name-icon(src='/images/queueCallNum/icon1.png')
            span 蜈支洲排队项目
            img.project-name-icon(src='/images/queueCallNum/icon2.png')
        ul.project-list
            // each item,index in [1,2,3]
            //     li.project-item
            //         span.project-item-name 摩托艇
            //         .now-num-box
            //             span.now-num 121
            //             p.now-num-text 当前叫号
            //         .queue-num-box
            //             span.queue-num 80
            //             p.now-num-text 排队人数

